<!--
  Copyright (C) 2023-2025 Caleb H. (K4PHP) caleb.k4php@gmail.com

  This file is part of the WhackerLink MultiWatch project.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program. If not, see <https://www.gnu.org/licenses/>.

  DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <a class="navbar-brand" href="/">Multi Watch</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item me-2">
                <a href="/affiliations" class="btn btn-primary">Affiliations</a>
            </li>
            <li class="nav-item me-2">
                <a href="/reports" class="btn btn-primary">Reports</a>
            </li>
            <li class="nav-item dropdown me-2">
                <a
                        class="btn btn-primary dropdown-toggle"
                        href="#"
                        id="mapDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                >
                    Maps
                </a>
                <div class="dropdown-menu" aria-labelledby="mapDropdown">
                    <% networks.forEach(network => { %>
                        <a class="dropdown-item" href="/map/<%= encodeURIComponent(network.name) %>">
                            <%= network.name %>
                        </a>
                    <% }) %>
                </div>
            </li>
            <li class="nav-item">
                <button id="darkModeToggle" class="btn btn-outline-secondary">
                    <span id="toggleLabel">Dark Mode</span>
                </button>
            </li>
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>